@mixin full-parent-size {
    width: 100%;
    height: 100%;
}

@mixin absolute-for-children {
    position: relative;

    &>* {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}