@mixin full-parent-size {
    width: 100%;
    height: 100%;
}

@mixin absolute-for-children {
    position: relative;

    &>* {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin section-side-number($number, $text)  {
    position: relative;

    &::before, &::after {
        position: absolute;
        top: 0;

        font-family: $font-section-number;
        font-weight: 400;

        color: $text-color;
    }

    &::before {
        content: $number;
        font-size: 80px;

        left: 100%;
        transform: translateX(50px) translateY(30px);
    }

    &::after {
        content: $text;
        font-size: 32px;
        writing-mode: vertical-rl;

        left: 100%;
        transform: translateX(140px) translateY(50px);
    }
}