html {
    font-family: $font-main;
    font-size: $font-size-base;
    font-weight: 400;
}

h1 {
    font-size: adaptive-font-size(8rem, 1.2rem);
    font-weight: 300;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

h3 {
    font-size: adaptive-font-size(2rem, 1.1rem);
    font-weight: 400;
}

main > section:not(:last-of-type) {
    margin-bottom: 200px;
}

section {
    overflow: hidden;
    padding-inline: $grid-gap;
}

.container {
    padding: $grid-gap;

    width: 100%;
    height: 100%;
    
    max-width: $container-width;
    margin: 0 auto;
}

.section-title {
    color: $title-color;
    font-size: adaptive-font-size(2rem, 0.8rem);

    &::first-letter {
        font-size: adaptive-font-size(4rem, 1.3rem);
    }
}

.section-text {
    color: $text-color;
    font-size: adaptive-font-size(1rem, 0.7rem);

    &::first-line{
        color: $text-color-second;
    }
}