// Screen size
$screen-width-max: 1920;
$screen-width-min: 280;

// Grid size
$container-width: 1300px;
$grid-gap: 20px;

// Colors
$black: #000;
$white: #fff;
$grey: #EAEAEA;
$dark-grey: #323232;
$blue: #0BB6FF;
$light-blue: #0bb6ff99;
$pink: #FF055F;

// Main colors
$accent-color: $pink;
$btn-color: $blue;
$btn-color-hover: $light-blue;
$btn-color-active: $black;
$menu-background-color: $grey;

// Text colors
$text-color: $black;
$text-color-second: $white;
$title-color: $dark-grey;

// Shadows
$basic-shadow: box-shadow(0px 20px 30px rgba(0, 0, 0, 0.07));

// Gradients
$main-gradient: radial-gradient(30.58% 197.36% at 30.23% 113.13%, #FF542F 0%, rgba(255, 84, 47, 0) 100%), linear-gradient(272.09deg, #FF055F -2.21%, #0BB6FF 108.82%);
$cell-gradient: radial-gradient(72.25% 85.76% at 28.999999999999996% 97%, rgb(255, 84, 47), rgba(255, 84, 47, 0) 100%), linear-gradient(-43.06deg, rgb(255, 5, 95) -2.609%, rgb(11, 182, 255) 100%);

// Fonts
$font-main: 'Montserrat', Arial, sans-serif;
$font-section-number: 'ProtoSans', Arial, sans-serif;

// Fonts size
$font-size-base: 32px;

$font-size-low: 0.5rem;
$font-size-main: 1rem;
$font-size-big: 3.75rem;
$font-size-extra: 5rem;